@model IEnumerable<App.Data.Entities.CartEntity>
@{
    ViewData["Title"] = "My Carts";
}

<h2 class="display-4">My Carts</h2>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cart ID</th>
                <th>Cart Name</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cart in Model)
            {
                <tr>
                    <td>@cart.Id</td>
                    <td>@cart.Name</td>
                    <td>@cart.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a asp-controller="Cart" asp-action="Detail" asp-route-id="@cart.Id" class="btn btn-custom btn-sm">Details</a>
                            @if (cart.Name != "DefaultCart")
                            {
                                <button type="button" class="btn btn-danger btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" data-cartid="@cart.Id">Delete</button>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="lead">You don't have any carts yet.</p>
}

<a asp-controller="Cart" asp-action="New" class="btn btn-custom btn-lg">Create New Cart</a>


<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this cart?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form asp-controller="Cart" asp-action="DeleteCart" method="post">
                    <input type="hidden" name="cartId" id="deleteCartId" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>